@use "../global/global.scss";

.success {
  transform: scale(1);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
  padding: 0 20px;
  box-sizing: border-box;
  background: rgba(88, 87, 87, 0.6);
}

.success__wrapper {
  width: 740px;
  height: 185px;
  box-sizing: border-box;
  background-color: var(--white-text);
  padding: 30px 50px 23px 50px;
  border-radius: 4px;
  position: relative;
}

.success__header {
  font-weight: bold;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: var(--text-color);
  margin-bottom: 39px;
}

.success__button-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 63px;
}

.success__basket {
  border-radius: 2px;
  background: var(--buy);
  border: none;
  width: 220px;
  height: 46px;
  color: var(--white-text);
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.09em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success__continue {
  border: 1px solid var(--opacity);
  box-sizing: border-box;
  border-radius: 2px;
  background: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.09em;
  width: 220px;
  height: 46px;
  color: var(--opacity);
}

.success__close {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 20px;
  right: 24px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.success__close::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background-image: url('../../image/close.svg');
  background-repeat: no-repeat;
}