.footer {
  background: var(--footer);
}

.footer__wrapper {
  padding: 61px 20px;
  display: flex;
  flex-wrap: wrap;
}

.footer__logo {
  width: 240px;
}

.footer__logo-link {
  margin-bottom: 52px;
  display: block;
}

.about-us {
  width: 138px;
  margin-right: 2.4%;
  margin-top: 5px;
}

.footer-catalog {
  width: 162px;
  margin-top: 5px;
}

.information {
  width: 102px;
  margin-right: 14.3%;
  margin-top: 5px;
}

.contacts {
  width: 127px;
  margin-top: 5px;
}

.social {
  grid-area: f;
  width: 115px;
  display: flex;
  justify-content: space-between;
}

.about-us__list,
.footer-catalog__list,
.information__list,
.contacts__list {
  list-style: none;
}

.about-us__header,
.footer-catalog__header,
.information__header,
.contacts__header {
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.13em;;
  color: var(--white-text);
  font-weight: 400;
  opacity: .7;
  margin-bottom: 3px;
}

.contacts__header {
  margin-bottom: 0;
}

.about-us__item,
.footer-catalog__item,
.information__item,
.contacts__item {
  font-size: 10px;
  line-height: 12px;
  color: var(--white-text);
  letter-spacing: 0.02em;
}

.about-us__item {
  margin-bottom: 12px;
}

.footer-catalog__item,
.information__item {
  letter-spacing: 0.12em;
  margin-bottom: 8px;
}

.footer-catalog__item a,
.information__item a {
  text-decoration: none;
  color: var(--white-text);
}
.contacts__item {
  letter-spacing: 0.13em;
}

.contacts__item:nth-child(2) {
  margin-left: 15px;
  letter-spacing: 0.1em;
  margin-bottom: 14px;
}

.contacts__item-link {
  position: relative;
  text-decoration: none;
  color: var(--white-text);
  margin-top: 2px;
}

.contacts__item-link::before {
  position: absolute;
  content: "";
  top: 2px;
  left: -14px;
  width: 10px;
  height: 10px;
  background: url("../../image/icon_phone.svg") no-repeat;
}

.contacts__item:nth-child(4) {
  margin-left: 15px;
  letter-spacing: 0.1em;
}

.contacts__item-time {
  position: relative;
}

.contacts__item-time::before {
  position: absolute;
  content: "";
  top: 2px;
  left: -14px;
  width: 10px;
  height: 10px;
  background: url("../../image/icon_clock.svg") no-repeat;
}